body {
    color: #F00;
    background-image: url("http://x4.fjcdn.com/thumbnails/comments/Could+ve+turned+out+weirder+_ae3002dfab5b33b6ae75142954f4a67d.gif");
    background-size: 100%;
    
}

#head1 {
    background-image: url("https://media.giphy.com/media/CWjVOWaN6z6Gk/giphy.gif");
    background-size: 50px 50px;
    color: #000;
    padding: 20px 50px 50px 20px;
    display: inline-block;
}


.prose {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 900;
    font-size: 2em;
}

ul {
    list-style-image: url("https://cdn2.iconfinder.com/data/icons/aspneticons_v1.0_Nov2006/notepad-edit-16x16.gif");
}


.navzone:before {
    font-size: 3em;
    content: "DIS DA NAVZONE BEGIN!!!"
}

.navzone:after {
    font-size: 3em;
    content: "DIS DA NAVZONE END!!!"
}

a {
    font-family: Consolas, monaco, monospace;
}g